.button {
  display: block;
  width: 200px;
  height: 52px;
  border-radius: 4px;
  border: 2px solid $white;
  // background-color: $cyan;
  @extend %paragraph;
  color: $white;
  font-size: $fs-14;
  font-weight: $weight-bold;
  line-height: 52px;
  text-align: center;
  cursor: pointer;
  @include transition(.2s);

  &:hover {
    background-color: $cyan;
    border-color: $cyan;
  }

  &.full {
    width: 100%;
  }

  &.cyan {
    background-color: $cyan;
    border: none;
  }
}