$white: #fff;
$white-dark: #e6ecf5;
$white-darker: #d8dbe6;

$black: #000;
$black-light: #363636;
$black-lighter: #515365;
$black-lightest: #888da8;

$gray-lighter: #b2b2b2;
$gray-lightest: #edf2f6;

$cyan: #38c0bb;
$cyan-light: #44ccc7;

$violet: #3f4257;
$violet-light: #494c62;
$violet-lighter: #9a9fbf;

$red: #db2e2e;

$color-dashboard-header-bg: $violet;
$color-dashboard-body-bg: $gray-lightest;

$orange: #ff5e3a;

$color-line: $white-dark;
$color-line-dark: $white-darker;