$white: #fff;
$white-dark: #dbdbdb;

$black: #000;
$black-light: #363636;

$blue: blue;
$blue-light: cyan;

$red: #cc0000;
$red-light: #e60000;

$green: blue;
$green-light: cyan;

$color-line: $white-dark;