.dashboard-header-wrap {
  background-color: $color-dashboard-header-bg;
}

.dashboard-header {
  min-height: 70px;
  padding: 0 70px;
  @include flex;
  justify-content: space-between;

  .dashboard-widget {
    @include flex;

    .dashboard-current-page {
      margin-right: 104px;
    }
  }

  .dashboard-current-page {
    margin-left: 30px;
    @extend %paragraph;
    color: $white;
    font-size: $fs-14;
    font-weight: $weight-bold;
    line-height: 70px;
    text-transform: uppercase;
  }
}

.dashboard-body-wrap {
  background-color: $color-dashboard-body-bg;
}

.dashboard-body {
  max-width: 1170px;
  width: 95%;
  padding: 40px 0 60px 70px;
  margin: 0 auto;
}

.user-actions-wrap {
  padding-top: 18px;
  cursor: pointer;
  @include flex;
  position: relative;

  .icon-arrow {
    margin: 10px 0 0 16px;
  }
}

.user-widget {
  padding: 6px 0 0 42px;
  position: relative;

  .connection-dot {
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 2;
  }

  .avatar-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .user-name,
  .user-info {
    @extend %paragraph;
    font-weight: $weight-bold;
    line-height: 1em;
  }

  .user-name {
    color: $white;
    font-size: $fs-12;
  }

  .user-info {
    margin-top: 2px;
    color: $violet-lighter;
    font-size: $fs-8;
    text-transform: uppercase;
  }
}

.user-actions {
  width: 180px;
  background-color: $violet;
  position: absolute;
  top: 40px;
  visibility: hidden;
  opacity: 0;
  @include transition(.3s);

  &.open {
    top: 72px;
    visibility: visible;
    opacity: 1;
  }
}

.user-action {
  height: 40px;
  border-bottom: 1px solid $violet-light;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    .user-action-link {
      background-color: $cyan;
      padding-left: 25px;
    }
  }

  .user-action-link {
    display: block;
    padding-left: 20px;
    @extend %paragraph;
    color: $white;
    font-size: $fs-12;
    font-weight: $weight-bold;
    line-height: 40px;
    @include transition(.15s);
  }
}

.content-widget {
  border: 1px solid $color-line;
  border-radius: 4px;
  background-color: $white;

  .content-widget-header {
    height: 60px;
    border-bottom: 1px solid $color-line;
    padding: 26px 26px 0;

    .content-widget-header-title {
      @extend %paragraph;
      color: $violet-light;
      font-weight: $weight-bold;
      line-height: 1em;
    }
  }

  .content-widget-body {
    padding: 22px 26px 30px;
    position: relative;

    .button {
      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
        top: 40px;
        right: -40px;
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .dashboard-header {
    height: 150px;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    position: relative;

    .dashboard-widget {
      .dashboard-current-page {
        margin: 0;
      }
    }

    #search-form {
      width: 600px;
      position: absolute;
      top: 80px;
      left: 50%;
      margin-left: -300px;

      .search-input {
        input[type="text"] {
          width: 100%;
        }
      }
    }
  }

  .dashboard-body {
    padding-left: 0;
  }
}

@media screen and (max-width: 980px) {
  .dashboard-header {
    #search-form {
      width: 500px;
      margin-left: -250px;
    }
  }
}

@media screen and (max-width: 680px) {
  .dashboard-header {
    #search-form {
      width: 350px;
      margin-left: -175px;
    }
  }
}