input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 24px 20px 10px;
  border: 1px solid $color-line-dark;
  border-radius: 2px;
  @extend %paragraph;
  color: $black-lighter;
}

label {
  display: block;
  margin-bottom: 16px;
  @extend %paragraph;
  color: $black-light;
  font-weight: $weight-bold;
}

.input-wrap {
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    top: 18px;
    left: 20px;
    @extend %paragraph;
    color: $black-lightest;
    font-size: $fs-14;
    opacity: 0.8;
    @include transition(.2s);
    pointer-events: none;
  }

  &.focused {
    &:before {
      top: 8px;
      font-size: $fs-10;
    }
  }

  &.user-input {
    &:before {
      content: 'Tu usuario';
    }
  }

  &.pwd-input {
    &:before {
      content: 'Tu password';
    }
  }
}

.form-row {
  @include flex;

  & + {
    .button {
      margin-top: 36px;
    }
  }
  
  .form-row-item {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &.half {
    justify-content: space-between;

    .form-row-item {
      width: 45%;
    }
  }
}