input[type="text"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid $color-line-dark;
  border-radius: 2px;
  @extend %paragraph;
  color: $black-lighter;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray-lighter;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray-lighter;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray-lighter;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray-lighter;
}

.select-wrap {
  position: relative;

  .arrow {
    color: $violet-light;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

select {
  @include appearance(none);
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 16px;
  @extend %paragraph;
  color: $black-light;
  font-weight: $weight-bold;
}

.input-wrap {
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    top: 18px;
    left: 20px;
    @extend %paragraph;
    color: $black-lightest;
    font-size: $fs-14;
    opacity: 1;
    @include transition(.2s);
    pointer-events: none;
  }

  input[type="text"],
  input[type="password"] {
    padding: 24px 20px 10px;
  }

  &.focused {
    &:before {
      top: 8px;
      font-size: $fs-10;
      opacity: 0.6;
    }
  }

  &.user-input {
    &:before {
      content: 'Tu usuario';
    }
  }

  &.pwd-input {
    &:before {
      content: 'Tu password';
    }
  }
}

.form-row {
  @include flex;
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  & + {
    .button {
      margin-top: 36px;
    }
  }
  
  .form-row-item {
    width: 100%;
  }
  
  &.half {
    justify-content: space-between;

    .form-row-item {
      width: 48%;
    }
  }
}

.search-input {
  position: relative;

  input[type="text"] {
    width: 500px;
    height: 70px;
    border: none;
    border-radius: 0;
    padding: 0 60px 0 24px;
    background-color: $violet-light;
    color: $white;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $violet-lighter;
      font-family: $font-secondary;
      font-size: $fs-12;
      opacity: 0.6;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: $violet-lighter;
      font-family: $font-secondary;
      font-size: $fs-12;
      opacity: 0.6;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: $violet-lighter;
      font-family: $font-secondary;
      font-size: $fs-12;
      opacity: 0.6;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $violet-lighter;
      font-family: $font-secondary;
      font-size: $fs-12;
      opacity: 0.6;
    }
  }

  .icon-search {
    position: absolute;
    top: 24px;
    right: 20px;
    pointer-events: none;
  }
}