body {
  background-color: $white;
}

h1, h2, h3,
h4, h5, h6 {
  @extend %heading;
}

p, a {
  @extend %paragraph;
}

p {
  line-height: 24px;
}

@include selection($white, $black-lighter);

.logo-wrap {
  @include flex;
  pointer-events: none;

  .logo-img {
    margin-right: 10px;
  }

  .logo-text {
    margin-top: 6px;
  }
}

.logo-text,
.logo-legend {
  color: $white;
  letter-spacing: .02em;
}

.logo-text {
  font-size: $fs-20;
}

.logo-legend {
  font-size: $fs-9;
  margin-top: 2px;
}

.logo-img {
  width: 44px;
  height: 35px;
}

.link-text {
  color: $orange;
  font-weight: $weight-medium;
}