body {
  background-color: $white;
}

h1, h2, h3,
h4, h5, h6 {
  @extend %heading;
}

p, a {
  @extend %paragraph;
}

p {
  line-height: 24px;
}

.grid-limit {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}

.logo-wrap {
  @include flex;
  pointer-events: none;

  .logo-img {
    margin-right: 10px;
  }

  .logo-text {
    margin-top: 6px;
  }
}

.logo-text,
.logo-legend {
  color: $white;
  letter-spacing: .02em;
}

.logo-text {
  font-size: $fs-20;
}

.logo-legend {
  font-size: $fs-9;
  margin-top: 2px;
}

.logo-img {
  width: 44px;
  height: 35px;
}

.promo-wrap {
  width: 544px;
  padding-top: 120px;

  .promo-info {
    margin-top: 30px;
  }

  .button {
    margin-top: 60px;
  }
}

.promo-title {
  color: $white;
  font-size: $fs-40;
  font-weight: $weight-light;
  line-height: 48px;
}

.promo-info {
  color: $white;
  font-size: $fs-14;
}