body {
  background-color: $color-dashboard-body-bg;
  overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6 {
  @extend %heading;
}

p, a {
  @extend %paragraph;
}

p {
  line-height: 24px;
}

@include selection($white, $black-lighter);

.logo-wrap {
  @include flex;
  pointer-events: none;

  .logo-img {
    margin-right: 10px;
  }

  .logo-text {
    margin-top: 6px;
  }

  &.big {
    width: 70px;
    height: 70px;

    .logo-img {
      width: 37px;
      height: 29px;
      margin: 20px 0 0 16px;
    }
  }

  &.orange {
    background: $orange;
  }
}

.logo-text,
.logo-legend {
  color: $white;
  letter-spacing: .02em;
}

.logo-text {
  font-size: $fs-20;
}

.logo-legend {
  font-size: $fs-9;
  margin-top: 2px;
}

.logo-img {
  width: 44px;
  height: 35px;
}

.link-text {
  color: $orange;
  font-weight: $weight-medium;
}

.avatar-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.connection-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $violet;
  position: relative;

  &:after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $cyan-light;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}