.icon-login {
  color: $orange;
}

.icon-user {
  color: $cyan;
}

.icon-close {
  color: $black-lightest;
}

.icon-search {
  color: $violet-lighter;
  font-size: 22px;
  opacity: 0.6;
}

.icon-arrow {
  color: $white;
  font-size: 6px;
}

.icon-home {
  font-size: 24px;
}

.icon-cog {
  font-size: 24px;
}

.icon-bars {
  font-size: 24px;
}