@mixin flex {
  display: flex;
  flex-flow: row wrap;
}

@mixin grid {
  display: grid;
}

@mixin transition($duration, $who: all, $ease: ease-in-out) {
  transition: $who $duration $ease;
  -webkit-transition: $who $duration $ease;
  -moz-transition: $who $duration $ease;
  -o-transition: $who $duration $ease;
}

@mixin transform_scale($ratio) {
  transform: scale($ratio);
  -webkit-transform: scale($ratio);
  -moz-transform: scale($ratio);
  -ms-transform: scale($ratio);
}

@mixin transform_rotate($deg) {
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
}

@mixin transform_translate($x, $y) {
  transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
}

@mixin background_size($val) {
  background-size: $val;
  -webkit-background-size: $val;
  -moz-background-size: $val;
  -o-background-size: $val;
}