.dashboard-navigation {
  width: 70px;
  height: 100%;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.navigation {
  padding-top: 20px;
}

.navigation-item {
  @include flex;

  .navigation-item-link {
    display: block;
    height: 60px;
  }

  .icon {
    margin-top: 20px;
    color: $violet-lighter;
    @include transition(.15s, color);

    &.icon-cog {
      margin-left: 22px;
    }
    
    &.icon-bars {
      margin-left: 24px;
    }

    &.icon-book {
      margin-left: 24px;
    }

    &.icon-user {
      margin-left: 24px;
    }
  }

  &:hover,
  &.selected {
    .icon {
      color: $cyan;
    }
  }
}

.mobile-menu-wrap {
  padding-top: 30px;
  background-color: $violet;
  text-align: center;
  display: none;

  .mobile-menu-trigger {
    color: $white;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

.mobile-menu {
  display: none;
}

.mobile-menu-item {
  border-bottom: 1px solid $violet-light;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $cyan;
    border-bottom-color: $cyan;
  }
}

.mobile-menu-item-link {
  display: block;
  padding: 15px 0;
  @extend %paragraph;
  color: $white;
  font-size: $fs-14;
  font-weight: $weight-bold;
}

@media screen and (max-width: 1260px) {
  .dashboard-navigation {
    display: none;
  }

  .mobile-menu-wrap {
    display: block;
  }
}