.popup-wrap {
  width: 400px;
  border: 1px solid $color-line;
  background-color: $white;

  .popup-header {
    padding: 0 26px;
    border-bottom: 1px solid $color-line;

    .popup-header-title {
      @extend %paragraph;
      color: $black-lighter;
      font-weight: $weight-bold;
      line-height: 60px;
    }
  }

  .popup-body {
    padding: 36px 26px 26px;

    .popup-text {
      margin-top: 30px;
      @extend %paragraph;
      color: $black-lightest;
      font-size: $fs-13;
      line-height: 22px;

      .link-text {
        font-size: $fs-13;
      }
    }
  }
}