.section-wrap {
  &.bg-1 {
    background: url('../img/login-bg-2.jpg') no-repeat center;
    @include background_size(cover);

    & > {
      .section {
        padding-top: 150px;
      }
    }
  }
}

.section {
  padding: 80px 0 60px;

  .popup-wrap {
    margin-top: 60px;
    // animation: slide-in-bottom 1s ease-out forwards;
    // animation-delay: .8s;
  }

  .promo-wrap {
    .promo-title,
    .promo-info,
    .button {
      @include transform_translate(-500px, 0);
      opacity: 0;
    }

    .promo-title {
      animation: slide-in-left .6s ease-out forwards;
    }

    .promo-info {
      animation: slide-in-left .6s ease-out forwards;
      animation-delay: .3s;
    }

    .button {
      animation: pop-in .8s ease-in-out forwards;
      animation-delay: .6s;
    }
  }
}

@media screen and (max-width: 1260px) {
  .section-wrap {
    &.bg-1 {
      & > {
        .section {
          padding-top: 30px;
        }
      }
    }
  }

  .section {
    .popup-wrap {
      margin: 0 auto;
      // animation: none;
    }

    .promo-wrap {
      .promo-title,
      .promo-info,
      .button {
        @include transform_translate(0, 0);
        opacity: 1;
        animation: none;
      }
    }
  }
}