.section-wrap {
  &.bg-1 {
    background: url('../img/login-bg-2.jpg') no-repeat center;
    @include background_size(cover);

    & > {
      .section {
        padding-top: 150px;
      }
    }
  }
}

.section {
  padding: 80px 0 60px;

  .popup-wrap {
    animation: slide-in-bottom 1s ease-out forwards;
  }
}