.table {
  &.v2 {
    .table-header {
      .table-header-item {
        width: 19%;

        &:first-child {
          width: 5%;
        }
      }
    }

    .table-body {
      .table-row {
        .table-row-item {
          width: 19%;

          &:first-child {
            width: 5%;
          }
        }
      }
    }
  }
}

.table-header {
  height: 40px;
  border-bottom: 1px solid $color-line;
  @include flex;

  .table-header-item {
    width: 22.5%;
    @extend %paragraph;
    color: $violet-light;
    font-size: $fs-12;
    line-height: 40px;
    font-weight: $weight-bold;
    text-transform: uppercase;
    text-align: center;

    &:first-child,
    &:last-child {
      width: 5%;
    }
  }
}

.table-body {
  .table-row {
    height: 50px;
    border-bottom: 1px solid $color-line;
    @include flex;

    &:last-child {
      border-bottom: none;
    }

    .table-row-item {
      width: 22.5%;

      &:first-child,
      &:last-child {
        width: 5%;
      }

      .avatar-img {
        display: block;
        margin: 13px auto 0;
      }

      .table-row-item-text {
        @extend %paragraph;
        color: $black-lighter;
        font-size: $fs-12;
        line-height: 50px;
        text-align: center;
      }
    }
  }
}