<!-- CONTENT WIDGET -->
<div class="content-widget">
  <!-- CONTENT WIDGET BODY -->
  <div class="content-widget-body">

    <a id="create-doctor-popup-open" href="#" class="button cyan small"><i class="fas fa-plus"></i></a>

    <!-- TABLE -->
    <div class="table v2">
      <!-- TABLE HEADER -->
      <div class="table-header">
        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item"></p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Medico</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Matricula</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Especialidad</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Horario de Atencion</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Duracion del turno</p>
        <!-- /TABLE HEADER ITEM -->
      </div>
      <!-- /TABLE HEADER -->

      <!-- TABLE BODY -->
      <div class="table-body" id="administrar-doctores-wrap">
      
      </div>
      <!-- /TABLE BODY -->
    </div>
    <!-- /TABLE -->
  </div>
  <!-- /CONTENT WIDGET BODY -->
</div>
<!-- /CONTENT WIDGET -->