<!-- DASHBOARD NAVIGATION -->
<nav class="dashboard-navigation">
  <!-- LOGO -->
  <div class="logo-wrap big cyan">
    <img class="logo-img" src="img/logo.png" alt="logo">
  </div>
  <!-- /LOGO -->

  <!-- NAVIGATION -->
  <ul class="navigation">
    <!-- NAVIGATION ITEM -->
    <li id="historial-turnos-link" class="navigation-item tooltip" data-tooltip-text="Historial de turnos">
      <!-- NAVIGATION ITEM LINK -->
      <a class="navigation-item-link" href="#">
        <i class="icon icon-book fas fa-book"></i>
      </a>
      <!-- /NAVIGATION ITEM LINK --> 
    </li>
    <!-- /NAVIGATION ITEM -->

    <!-- NAVIGATION ITEM -->
    <li id="listado-medicos-link" class="navigation-item tooltip" data-tooltip-text="Listado de Medicos">
      <!-- NAVIGATION ITEM LINK -->
      <a class="navigation-item-link" href="#">
        <i class="icon icon-cog far fa-address-card"></i>
      </a>
      <!-- /NAVIGATION ITEM LINK -->
    </li>
    <!-- /NAVIGATION ITEM -->

    <!-- NAVIGATION ITEM -->
    <li id="listado-turnos-link" class="navigation-item tooltip" data-tooltip-text="Listado de Proximos Turnos">
      <!-- NAVIGATION ITEM LINK -->
      <a class="navigation-item-link" href="#">
        <i class="icon icon-user fas fa-user"></i>
      </a>
      <!-- /NAVIGATION ITEM LINK -->
    </li>
    <!-- /NAVIGATION ITEM -->
  </ul>
  <!-- /NAVIGATION -->
</nav>
<!-- /DASHBOARD NAVIGATION -->

<!-- DASHBOARD HEADER WRAP -->
<div class="dashboard-header-wrap">
  <!-- DASHBOARD HEADER -->
  <div class="dashboard-header">
    <!-- DASHBOARD WIDGET -->
    <div class="dashboard-widget">
      <!-- DASHBOARD CURRENT PAGE -->
      <p class="dashboard-current-page"></p>

      <!-- SEARCH FORM -->
      <form id="search-form" method="get">
        <!-- SEARCH INPUT -->
        <div class="search-input">
          <!-- ICON SEARCH -->
          <i class="icon-search fas fa-search"></i>
          <!-- /ICON SEARCH -->
          <input type="text" id="especiality_name" name="especiality_name" placeholder="Ingrese la especialidad deseada..." autocomplete="off">
        </div>
        <!-- /SEARCH INPUT -->
      </form>
      <!-- /SEARCH FORM -->
    </div>
    <!-- /DASHBOARD WIDGET -->

    <!-- DASHBOARD WIDGET -->
    <div class="dashboard-widget">
      <!-- USER ACTIONS WRAP -->
      <div class="user-actions-wrap">
        <!-- USER WIDGET -->
        <div class="user-widget">
          <div class="connection-dot"></div>
          <!-- AVATAR IMG -->
          <img class="avatar-img" src="img/users/default-user.png" alt="avatar-img">
          <!-- /AVATAR IMG -->
          <p class="user-name"></p>
          <p class="user-info"></p>
        </div>
        <!-- /USER WIDGET -->

        <!-- ICON ARROW -->
        <i class="icon-arrow fas fa-chevron-down"></i>
        <!-- /ICON ARROW -->

        <!-- USER ACTIONS -->
        <ul class="user-actions dropdown" data-triggers=".user-actions-wrap">
          <!-- USER ACTION -->
          <li class="user-action">
            <a href="#" class="user-action-link">Mi Perfil</a>
          </li>
          <!-- USER ACTION -->

          <!-- USER ACTION -->
          <li class="user-action">
            <a href="#" id="logout-button" class="user-action-link">Cerrar Sesion</a>
          </li>
          <!-- USER ACTION -->
        </ul>
        <!-- /USER ACTIONS -->
      </div>
      <!-- /USER ACTIONS WRAP -->
    </div>
    <!-- /DASHBOARD WIDGET -->
  </div>
  <!-- /DASHBOARD HEADER -->
</div>
<!-- /DASHBOARD HEADER WRAP -->

<!-- MOBILE MENU WRAP -->
<div class="mobile-menu-wrap">
  <i class="mobile-menu-trigger icon-bars fas fa-bars"></i>

  <!-- MOBILE MENU -->
  <ul class="mobile-menu">
    <!-- MOBILE MENU ITEM -->
    <li id="historial-turnos-link-mobile" class="mobile-menu-item">
      <a href="#" class="mobile-menu-item-link">Historial de Turnos</a>
    </li>
    <!-- /MOBILE MENU ITEM -->

    <!-- MOBILE MENU ITEM -->
    <li id="listado-medicos-link-mobile" class="mobile-menu-item">
      <a href="#" class="mobile-menu-item-link">Listado de Medicos</a>
    </li>
    <!-- /MOBILE MENU ITEM -->

    <!-- MOBILE MENU ITEM -->
    <li id="listado-turnos-link-mobile" class="mobile-menu-item">
      <a href="#" class="mobile-menu-item-link">Listado de Proximos Turnos</a>
    </li>
    <!-- /MOBILE MENU ITEM -->
  </ul>
  <!-- /MOBILE MENU -->
</div>
<!-- /MOBILE MENU WRAP -->

<!-- DASHBOARD BODY WRAP -->
<div class="dashboard-body-wrap">
  <!-- DASHBOARD BODY -->
  <div class="dashboard-body">
    
  </div>
  <!-- /DASHBOARD BODY -->
</div>
<!-- /DASHBOARD BODY WRAP -->