<!-- DASHBOARD NAVIGATION -->
<nav class="dashboard-navigation">
  <!-- LOGO -->
  <div class="logo-wrap big cyan">
    <img class="logo-img" src="img/logo.png" alt="logo">
  </div>
  <!-- /LOGO -->

  <!-- NAVIGATION -->
  <ul class="navigation">
    <!-- NAVIGATION ITEM -->
    <li id="historial-turnos-link" class="navigation-item tooltip" data-tooltip-text="Historial de turnos">
      <!-- NAVIGATION ITEM LINK -->
      <a class="navigation-item-link" href="#">
        <i class="icon icon-book fas fa-book"></i>
      </a>
      <!-- /NAVIGATION ITEM LINK -->
    </li>
    <!-- /NAVIGATION ITEM -->

    <!-- NAVIGATION ITEM -->
    <li id="listado-medicos-link" class="navigation-item tooltip" data-tooltip-text="Listado de Medicos">
      <!-- NAVIGATION ITEM LINK -->
      <a class="navigation-item-link" href="#">
        <i class="icon icon-cog far fa-address-card"></i>
      </a>
      <!-- /NAVIGATION ITEM LINK -->
    </li>
    <!-- /NAVIGATION ITEM -->

    <!-- NAVIGATION ITEM -->
    <li id="listado-turnos-link" class="navigation-item tooltip" data-tooltip-text="Listado de Proximos Turnos">
      <!-- NAVIGATION ITEM LINK -->
      <a class="navigation-item-link" href="#">
        <i class="icon icon-user fas fa-user"></i>
      </a>
      <!-- /NAVIGATION ITEM LINK -->
    </li>
    <!-- /NAVIGATION ITEM -->
  </ul>
  <!-- /NAVIGATION -->
</nav>
<!-- /DASHBOARD NAVIGATION -->

<!-- DASHBOARD HEADER WRAP -->
<div class="dashboard-header-wrap">
  <!-- DASHBOARD HEADER -->
  <div class="dashboard-header">
    <!-- DASHBOARD WIDGET -->
    <div class="dashboard-widget">
      <!-- DASHBOARD CURRENT PAGE -->
      <p class="dashboard-current-page"></p>

      <!-- SEARCH FORM -->
      <form id="search-form" method="get">
        <!-- SEARCH INPUT -->
        <div class="search-input">
          <!-- ICON SEARCH -->
          <i class="icon-search fas fa-search"></i>
          <!-- /ICON SEARCH -->
          <input type="text" id="especiality_name" name="especiality_name" placeholder="Ingrese la especialidad deseada..."
            autocomplete="off">
        </div>
        <!-- /SEARCH INPUT -->
      </form>
      <!-- /SEARCH FORM -->
    </div>
    <!-- /DASHBOARD WIDGET -->

    <!-- DASHBOARD WIDGET -->
    <div class="dashboard-widget">
      <!-- USER ACTIONS WRAP -->
      <div class="user-actions-wrap">
        <!-- USER WIDGET -->
        <div class="user-widget">
          <div class="connection-dot"></div>
          <!-- AVATAR IMG -->
          <img class="avatar-img" src="img/users/default-user.png" alt="avatar-img">
          <!-- /AVATAR IMG -->
          <p class="user-name"></p>
          <p class="user-info"></p>
        </div>
        <!-- /USER WIDGET -->

        <!-- ICON ARROW -->
        <i class="icon-arrow fas fa-chevron-down"></i>
        <!-- /ICON ARROW -->

        <!-- USER ACTIONS -->
        <ul class="user-actions dropdown" data-triggers=".user-actions-wrap">
          <!-- USER ACTION -->
          <li class="user-action">
            <a href="#" class="user-action-link">Mi Perfil</a>
          </li>
          <!-- USER ACTION -->

          <!-- USER ACTION -->
          <li class="user-action">
            <a href="#" id="logout-button" class="user-action-link">Cerrar Sesion</a>
          </li>
          <!-- USER ACTION -->
        </ul>
        <!-- /USER ACTIONS -->
      </div>
      <!-- /USER ACTIONS WRAP -->
    </div>
    <!-- /DASHBOARD WIDGET -->
  </div>
  <!-- /DASHBOARD HEADER -->
</div>
<!-- /DASHBOARD HEADER WRAP -->

<!-- MOBILE MENU WRAP -->
<div class="mobile-menu-wrap">
  <i class="mobile-menu-trigger icon-bars fas fa-bars"></i>

  <!-- MOBILE MENU -->
  <ul class="mobile-menu">
    <!-- MOBILE MENU ITEM -->
    <li id="historial-turnos-link-mobile" class="mobile-menu-item">
      <a href="#" class="mobile-menu-item-link">Historial de Turnos</a>
    </li>
    <!-- /MOBILE MENU ITEM -->

    <!-- MOBILE MENU ITEM -->
    <li id="listado-medicos-link-mobile" class="mobile-menu-item">
      <a href="#" class="mobile-menu-item-link">Listado de Medicos</a>
    </li>
    <!-- /MOBILE MENU ITEM -->

    <!-- MOBILE MENU ITEM -->
    <li id="listado-turnos-link-mobile" class="mobile-menu-item">
      <a href="#" class="mobile-menu-item-link">Listado de Proximos Turnos</a>
    </li>
    <!-- /MOBILE MENU ITEM -->
  </ul>
  <!-- /MOBILE MENU -->
</div>
<!-- /MOBILE MENU WRAP -->

<!-- DASHBOARD BODY WRAP -->
<div class="dashboard-body-wrap">
  <!-- DASHBOARD BODY -->
  <div class="dashboard-body">

  </div>
  <!-- /DASHBOARD BODY -->
</div>
<!-- /DASHBOARD BODY WRAP -->


<!-- POPUP WRAP -->
<div id="delete-reserve-popup" class="popup-wrap medium">
    <!-- CLOSE BUTTON -->
    <i id="delete-reserve-popup-close" class="popup-close icon-close fas fa-times"></i>
    <!-- /CLOSE BUTTON -->
  
    <!-- POPUP HEADER -->
    <div class="popup-header">
      <p class="popup-header-title"><i class="icon-user fas fa-user-circle"></i>Cancelación de turno</p>
    </div>
    <!-- /POPUP HEADER -->
  
    <!-- POPUP BODY -->
    <div class="popup-body">
      <!-- LOGIN FORM -->
      <form id="delete-date-form" method="post">
        <!-- FORM ROW -->
        <div class="form-row">
          <!-- FORM ROW ITEM -->
          <div class="form-row-item">
            <input type="hidden" id="hd_reg_date_id" name="hd_reg_date_id">            
            <label>¿Desea cancelar el turno?</label>
          </div>
          <!-- /FORMROW ITEM -->
        </div>
        <!-- /FORM ROW -->
        <!-- BUTTON -->
        <button id="delete-date-button" class="button full cyan">Confirmar</button>
        <button style="visibility:hidden" id="cancel-delete-button" class="button full cyan">Cancelar</button>
        <!-- /BUTTON -->
      </form>
      <!-- /LOGIN FORM -->
    </div>
    <!-- /POPUP BODY -->
  </div>
  <!-- /POPUP WRAP -->

<!-- POPUP WRAP -->
<div id="reserve-popup" class="popup-wrap medium">
  <!-- CLOSE BUTTON -->
  <i id="reserve-popup-close" class="popup-close icon-close fas fa-times"></i>
  <!-- /CLOSE BUTTON -->

  <!-- POPUP HEADER -->
  <div class="popup-header">
    <p class="popup-header-title"><i class="icon-user fas fa-user-circle"></i>Confirmar turno</p>
  </div>
  <!-- /POPUP HEADER -->

  <!-- POPUP BODY -->
  <div class="popup-body">
    <!-- LOGIN FORM -->
    <form id="take-date-form" method="post">
      <!-- FORM ROW -->
      <div class="form-row">
        <!-- FORM ROW ITEM -->
        <div class="form-row-item">
          <input type="hidden" id="zm_reg_id_doctor" name="zm_reg_id_doctor">
          <input disabled="disabled" type="text" id="zm_reg_nombre_doctor" name="zm_reg_nombre_doctor">
        </div>
        <!-- /FORMROW ITEM -->
      </div>
      <div class="form-row">
        <!-- FORM ROW ITEM -->
        <div class="form-row-item">
          <input disabled="disabled" type="text" id="zm_reg_especialidad" name="zm_reg_especialidad">
        </div>
        <!-- /FORM ROW ITEM -->
      </div>
      <div class="form-row">
        <!-- FORM ROW ITEM -->
        <div class="form-row-item">
          <input type="hidden" id="hd_reg_fecha" name="hd_reg_fecha">
          <input disabled="disabled" type="text" id="zm_reg_fecha" name="zm_reg_fecha">
        </div>
        <!-- /FORM ROW ITEM -->
      </div>
      <div class="form-row">
        <!-- FORM ROW ITEM -->
        <div class="form-row-item">
          <input type="hidden" id="hd_reg_hora" name="hd_reg_hora">
          <input disabled="disabled" type="text" id="zm_reg_hora" name="zm_reg_hora">
        </div>
        <!-- /FORM ROW ITEM -->
      </div>
      <!-- /FORM ROW -->
      <!-- BUTTON -->
      <button id="take-date-button" class="button full cyan">Confirmar</button>
      <button style="visibility:hidden" id="close-take-date-button" class="button full cyan">Cancelar</button>
      <!-- /BUTTON -->
    </form>
    <!-- /LOGIN FORM -->
  </div>
  <!-- /POPUP BODY -->
</div>
<!-- /POPUP WRAP -->