<!-- CONTENT WIDGET -->
<div class="content-widget">
  <!-- CONTENT WIDGET BODY -->
  <div class="content-widget-body">
    <!-- TABLE -->
    <div class="table">
      <!-- TABLE HEADER -->
      <div class="table-header">
        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item"></p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Medico</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Especialidad</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Fecha</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Hora</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item"></p>
        <!-- /TABLE HEADER ITEM -->
      </div>
      <!-- /TABLE HEADER -->

      <!-- TABLE BODY -->
      <div class="table-body" id="historialTurnos">
      
      </div>
      <!-- /TABLE BODY -->
    </div>
    <!-- /TABLE -->
  </div>
  <!-- /CONTENT WIDGET BODY -->
</div>
<!-- /CONTENT WIDGET -->