<!-- CONTENT WIDGET -->
<div class="content-widget">
  <!-- CONTENT WIDGET BODY -->
  <div class="content-widget-body">
    <!-- TABLE -->
    <div class="table">
      <!-- TABLE HEADER -->
      <div class="table-header">
        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item"></p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Medico</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Especialidad</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Fecha</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Hora</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item"></p>
        <!-- /TABLE HEADER ITEM -->
      </div>
      <!-- /TABLE HEADER -->

      <!-- TABLE BODY -->
      <div class="table-body" id="listadoMedicos">
        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <!-- AVATAR IMG -->
            <img class="avatar-img small" src="img/users/default-user.png" alt="avatar-img">
            <!-- /AVATAR IMG -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text medic-name">Juan Perez</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text medic-speciality">Dermatologia</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text date-info">23/12/2018</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text time-info">15:45 hs</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <!-- ACTIONS -->
            <div class="actions">
              <!-- ACTION -->
              <div class="action reserve">
                <i class="icon fas fa-plus"></i>
              </div>
              <!-- /ACTION -->
            </div>
            <!-- /ACTIONS -->
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <!-- AVATAR IMG -->
            <img class="avatar-img small" src="img/users/default-user.png" alt="avatar-img">
            <!-- /AVATAR IMG -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text medic-name">Juan Perez</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text medic-speciality">Dermatologia</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text date-info">23/12/2018</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text time-info">15:45 hs</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <!-- ACTIONS -->
            <div class="actions">
              <!-- ACTION -->
              <div class="action reserve">
                <i class="icon fas fa-plus"></i>
              </div>
              <!-- /ACTION -->
            </div>
            <!-- /ACTIONS -->
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->
      </div>
      <!-- /TABLE BODY -->
    </div>
    <!-- /TABLE -->
  </div>
  <!-- /CONTENT WIDGET BODY -->
</div>
<!-- /CONTENT WIDGET -->