<!-- CONTENT WIDGET -->
<div class="content-widget">
  <!-- CONTENT WIDGET BODY -->
  <div class="content-widget-body">
    <!-- TABLE -->
    <div class="table v2">
      <!-- TABLE HEADER -->
      <div class="table-header">
        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item"></p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Paciente</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Email</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Telefono</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Fecha</p>
        <!-- /TABLE HEADER ITEM -->

        <!-- TABLE HEADER ITEM -->
        <p class="table-header-item">Hora</p>
        <!-- /TABLE HEADER ITEM -->
      </div>
      <!-- /TABLE HEADER -->

      <!-- TABLE BODY -->
      <div class="table-body" id="listadoProximosTurnos">
        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <!-- AVATAR IMG -->
            <img class="avatar-img small" src="img/users/default-user.png" alt="avatar-img">
            <!-- /AVATAR IMG -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text pacient-name">Juan Perez</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text pacient-email">jperez@gmail.com</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text pacient-phone">1626251584</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text date-info">23/12/2018</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text time-info">15:45 hs</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <!-- AVATAR IMG -->
            <img class="avatar-img small" src="img/users/default-user.png" alt="avatar-img">
            <!-- /AVATAR IMG -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text pacient-name">Juan Perez</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text pacient-email">jperez@gmail.com</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text pacient-phone">1626251584</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text date-info">23/12/2018</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-row-item-text time-info">15:45 hs</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->
      </div>
      <!-- /TABLE BODY -->
    </div>
    <!-- /TABLE -->
  </div>
  <!-- /CONTENT WIDGET BODY -->
</div>
<!-- /CONTENT WIDGET -->